@implements IDisposable
@inject IJSRuntime Js
@inject StockDb StockDb
<p>
    Current colour exchange rate (between £0.50 and £1.50): @FormatMoney(_currentWorth.ExchangeRate)
    <ul>
        <li>@_currentWorth.WhitePackageCount x White Package (@FormatMoney(_currentWorth.UnitWhitePackageWorth) per package) = @FormatMoney(_currentWorth.WhitePackageWorth)</li>
        <li>@_currentWorth.YellowPackageCount x Yellow Package (@FormatMoney(_currentWorth.UnitColourPackageWorth) per package) = @FormatMoney(_currentWorth.YellowPackageWorth)</li>
        <li>@_currentWorth.CyanPackageCount x Cyan Package (@FormatMoney(_currentWorth.UnitColourPackageWorth) per package) = @FormatMoney(_currentWorth.CyanPackageWorth)</li>
        <li>@_currentWorth.MagentaPackageCount x Magenta Package (@FormatMoney(_currentWorth.UnitColourPackageWorth) per package) = @FormatMoney(_currentWorth.MagentaPackageWorth)</li>
    </ul>
</p>

<p>
    Total: @FormatMoney(_currentWorth.TotalWorth)
</p>

<button class="btn btn-primary" @onclick=Sell disabled=@(_currentWorth.TotalWorth == 0m)>Sell</button>

@code {
    private StockDb.CurrentWorth _currentWorth;

    protected override async Task OnInitializedAsync()
    {
        StockDb.OnStockUpdateAsync += Refresh;
        await Refresh();
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await Js.InvokeVoidAsync("resizeIframe");
    }

    void IDisposable.Dispose()
    {
        StockDb.OnStockUpdateAsync -= Refresh;
    }

    private async Task Refresh()
    {
        _currentWorth = StockDb.CalculateCurrentWorth();
        await InvokeAsync(StateHasChanged);
    }

    private async Task Sell()
    {
        await StockDb.SellAsync(_currentWorth);
    }

    private string FormatMoney(decimal value)
    {
        return $"£{value:0\\.00}";
    }
}
