@namespace MfePoc.Shared.Views.Shared
@{
    var layoutModel = this.LayoutModel();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micro Frontends PoC in .NET - @layoutModel.Title</title>
    <link rel="stylesheet" href="~/_content/MfePoc.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/_content/MfePoc.Shared/css/site.css" />
    @if (!string.IsNullOrWhiteSpace(layoutModel.BaseUrl))
    {
        <base href="@layoutModel.BaseUrl" />
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="/" class="navbar-brand" data-fetch="mvc">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Dashboard" data-fetch="mvc">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/BlazorSS1" data-detch="blazor-ss">Blazor SS1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/BlazorSS2" data-detch="blazor-ss">Blazor SS2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Micro Frontends PoC in .NET
        </div>
    </footer>

    <script src="~/_content/MfePoc.Shared/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/_content/MfePoc.Shared/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_content/MfePoc.Shared/js/site.js" asp-append-version="true"></script>

    <!-- blazor server-side -->
    @if (layoutModel.EnableBlazorServerSide)
    {
        <script src="@(layoutModel.BaseUrl)_framework/blazor.server.js" autostart="false"></script>
        <script>
            window.Blazor.start();
        </script>
    }

    @RenderSection("Scripts", required: false)

</body>
</html>
